body{
  margin: 0;
  padding: 0;
}

.bg-app{
  background-color: #800080;
}

.text-app{
  color: #800080;
}

.border-app{
  border: 2px solid transparent;
  border-image: linear-gradient(45deg, rgb(169, 172, 8) 0%, rgb(119, 3, 119));
  border-image-slice: 1;
}